{
    "plugins": [ "joyent" ],
    "extends": [
        "eslint:recommended",
        "plugin:joyent/style",
        "plugin:joyent/lint"
    ],
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "script",
        "ecmaFeatures": {
        }
    },
    "env": {
        "node": true
    },
    "rules": {
	"func-names": [2, "always"],
        "strict": [ "error", "global" ],
        "consistent-return": "off",
        "no-loop-func": "off",
        "padded-blocks": "off",
        "no-multi-spaces": "off",
        "no-useless-escape": "off",
        "callback-return": "off"
    }
}
